/*----- Okay so check it out, this css page is based on the current page I'm using to style my LEGO space station project,
I'm looking at Step 383 right before submission and it's asking me to do SIX things: 1.) adjust font family 2.) adjust font-size
3.) adjust width of the inputs 4.) adjust margin between inputs 5.) Adjust Border of the inputs 6.) Adjust Border radius of the inputs.
So please scroll down and keep eye out for my notes, I'll make them extra big and super obvious, where I did each one of these----*/

/*--------   Step 383 said this is just quick excercise so no doubt will make webpage look strange, Let me know if you actually want 
me to link this to my Space Station website project, obviously I'd prefer not to but it's fine if needed to pass ------------ ----*/

/*----  First and second req's scroll down to lines 164 thru 183  ---------  Req's three thru six scroll to lines 306 thru 323  ---*/

html{
    font-family: sans-serif;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgb(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    -ma-text-size-adjust: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4287143;
    color: #333;
    background-color: #fff;
}

footer, 
nav {
    display: block;
}

h1 {
    line-height: 50px;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #e91c1c;
    text-shadow: 2px 2px 3px rgb(0,0,0,0.5);
}

h1::after {
    display: block;
    content: "";
    height: 2px;
    width: 150px;
    background: #e91c1c;
    margin: 5px auto 40px;
    box-shadow: 5px 2px 3px rgb(0,0,0,0.5);
}

h2 {
    line-height: 50px;
    color: #e91c1c;
}

h3 {
    line-height: 30px;
    padding-bottom: 20px;
}

h4 {
    padding-top: 25px;
    line-height: 40px;
    padding-bottom: 0px;
    font-size: 22px;
    font-weight: 900;
}

p {
    font-weight: 300;
    line-height: 30px;
    padding-bottom: 15px;
}
.text-center {
    text-align: center;
}

.heading-padding {
    padding-bottom: 40px;
}

section {
    padding-top: 50px;
    margin-top: 50px;
}

.navbar {
    height: 105px;
    max-height: 340px;
    display: block;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.clearfix::after,
.container::after,
.navbar:after {
    clear: both;
    display: table;
    content: "";
}

.wrap {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-container {
    max-height: 240px;
    margin: 0% auto;
    content: "";
    width: 100%;
    position: fixed;
    z-index: 100;
}

#home {
    background: url(./Lego_Space_Station.jpg) no-repeat 50% 50%;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-top: 350px;
    padding-bottom: 500px;
    color: #fff;
}

.head-main {
    text-shadow: 2px 4px 5px rgb(0,0,0,0.9);
    font-variant: small-caps;
    color: #fff;
    letter-spacing: 5pt;
    word-spacing: 21pt;
    font-size: 4.5cm;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*----  Requirement #1  --------------- This font was origianlly Impact-------------
    ---------------------------  I'm changing it to Times New Roman  -----------------*/

    line-height: 2;
    font-weight: 900;
    border: 5px double #fff;
    padding: 10px;
}

.head-sub-main {
    font-size: 23px;
    font-weight: 500;
    padding: 50px 20px 10px 20px;
    text-transform: uppercase;
}

.head-last {
    font-size: 18px;
    /*----  Requirement #2  --------------- Font size here was originally 10px-------------
    ---------------------------  I'm changing it to 18px  --------------------------------*/
    font-weight: 900;
    padding: 5px 20px 20px 20px;
    border: 1px dotted #fff;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgb(100,65,0,.3);
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5)
}

#contact {
    background-color: #f5f3f3;
}

.reservation {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100,65,0,.3);
    box-shadow: -1px, -1px, 1px 0 rgba(0,0,0,0.1), 1px 2px 10px 0 rgba(0,0,0,0.5)
}

.reservation h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 500;
    font-size: 1.3cm;
    letter-spacing: 0pt;
    word-spacing: 0pt;
    
}

.reservation h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161B;
    font-weight: 900;
    font-size: 1.5cm;
    letter-spacing: small-caps;
    word-spacing: .4pt;
}

.reservation p {
    color: #13161B;
    width: 50%;
    margin: 0 auto;
}

.reservation form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(227,222,222) ;
    box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
    font-family: sans-serif;
}

.reservation input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #8D8E8F;
    padding: 2% 2% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px lem;
    border-radius: 7px;
    background: #13161B;
    box-shadow: inset 0px 3px 0px 0px rgba(5,5,5,0.15);
    font-family: sans-serif;
}

.reservation input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100,65,0,.8)
}

.form-spacer {
    padding: 30px 39px;
}

.terms {
    margin: 30px 1px 0 0;
    padding-left: 52px;
    font-size: 14px;
    line-height: 5px;
    color: #000;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    display: inline;
    float: right;
}

.terms:hover {
    color: orange;
    text-decoration: underline;
}

.sibmit input[type="submit"] {
    color:rgb(225,225,225);
    cursor: pointer;
    border: double black;
    /*------  Requirement #5  -----  to adjust BORDER between inputs  ----  This was originally set at NONE ---
--------  just for hell of it I'm putting in a dark black DOUBLE border   -----------------------------------*/
    font-weight: 900;
    outline: none;
    text-align: center;
    font-family: sans-serif;
    margin: 5px 10%;
/*------  Requirement #4  -----  to adjust MARGINS between inputs  ----  This was originally set at  ----------
---  ZERO pixels and THREE percent  ---   adjusting it to 5px and TEN percent now   --------------------------*/
    padding: 7px 0px;
    width: 50%;
/*------------   Requirement #3   --------------   input WIDTH here originally set to 25%   -------------------
--------------------------------------   bumping it up to FIFTY percent now   --------------------------------*/
    font-size: 18px;
    transition: border-color 0.3s color 0.3s background-color 0.3s;
    border-radius: 7px;
/*------  Requirement #6  -----------------------  to adjust BORDER RADIUS of the inputs  ---------------------
---  originally set at SEVEN pixels ---   adjusting it to TWELVE pixels now   -------------------------------*/
    background-color: #797a7b;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

#footer {
    background-color: rgba(100,65,0,0.3);
    color: #000;
    text-shadow: 2px 2px 8px 0 (0,0,0,0.4);
    padding: 20px 50px 20px 50px;
    text-align: right;
}

.menu {
    color: #f00;
    font: bold 12px/18px sans-serif;
    text-align: center;
    display: inline;
    margin: 0% auto;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.menu li {
    color: #000;
    background-color: rgba(255,255,255,1);
    display: inline-block;
    margin: 0% auto;
    position: relative;
    padding: 15px 4%;
    border: 1px solid #9D9FA2;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
    border-radius: 6px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .4s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}

.photo {
    position: relative;
    line-height: 0;
    margin-bottom: 2cm;
    overflow: hidden;
    border-radius: 8px;
    padding: 1px;
    border: 1px solid #021a40;
    background-color: #ff0;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.7);
}

.photo-container {
    text-align: center;
    margin: 15px auto;
    width: 300px;
    height: 169px;
}

.photo-container img {
    max-width: 100%;
    width: 300px;
    height: 169px;
}

.photo-overlay {
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
}

.white-head {
    color: #c9bdaa;
    margin-top: 5%;
}